@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.site {
  background: $gradient-primary;
  background-color: $color-light;
  min-height: 100vh;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: transparent;
  transform: translateZ(0);
  will-change: transform;
  background-color: rgba(255,255,255, 0.85);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: -1;
  }

  &.is-floating {
    &::before {
      backdrop-filter: blur(8px);
      box-shadow: 0 2px 8px #c8c8c8;
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 101;
    padding: 0 $spacing-md;

    .main-navigation {
      li {
        &:not(.menu-item-contact-button) {
          a {
            color: $color-text;
            transition: color 0.3s ease;

            &:hover {
              color: $color-primary;
              background-color: transparent;
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .site-branding {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 102;

    img {
      max-height: 50px;
      width: auto;
      transition: transform 0.3s ease;
    }
  }

  @include respond-to(md) {
    height: 70px;
  }
}

body {
  padding-top: 80px;

  @include respond-to(md) {
    padding-top: 70px;
  }
}

.site-branding {
  .custom-logo-link {
    display: flex;
    align-items: center;
    height: 100%;

    img.custom-logo {
      max-height: 50px;
      width: auto;
      @include respond-to(md) {
        max-height: 40px;
      }
    }
  }

  .site-logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      max-height: 40px;
      width: auto;
    }
  }
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: $spacing-xs;

  a {
    color: $color-dark;

    &:hover {
      color: $color-primary;
    }
  }

  @include respond-to(sm) {
    font-size: 1.25rem;
  }
}

.site-description {
  font-size: 0.875rem;
  color: color.adjust($color-text, $lightness: 20%);
}