@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.site {
  background: $gradient-primary;
  background-color: $color-light;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: 100% 100vh;
}
.site-header {
  padding: $spacing-sm 0;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to(md) {
    height: 75px;
  }
  
  .container {
    @include flex(row, space-between, center);
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $color-light;
  }
}

.site-branding {
  display: flex;
  align-items: center;
  
  .custom-logo-link {
    display: block;
    
    img.custom-logo {
      max-width: 300px;
      height: auto;
      width: auto;
    }
  }
  
  .site-logo {
    display: block;
    
    img {
      max-width: 150px;
      height: auto;
    }
  }
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: $spacing-xs;
  
  a {
    color: $color-dark;
    
    &:hover {
      color: $color-primary;
    }
  }
  
  @include respond-to(sm) {
    font-size: 1.25rem;
  }
}

.site-description {
  font-size: 0.875rem;
  color: color.adjust($color-text, $lightness: 20%);
} 